body {
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
}

header {
  justify-content: space-between;
  margin: auto;
}

header nav {
  text-align: right;
}

header, .column {
  align-items: center;
}

body {
  width: 95%;
}

header {
  width: 95%;
  display: flex;
}

body, a {
  color: #111;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 40pt;
}

footer p {
  text-align: center;
}

footer {
  bottom: 0;
  height: 60px;
  position: relative;
}

a {
  text-decoration: none;
}
